# Copy to fly.toml and set your own app name.
# fly.toml app configuration file. See https://fly.io/docs/reference/configuration/

app = 'your-app-name'
primary_region = 'ewr'

[build]

[env]
  DATA_DIR = '/data'
  PORT = '3000'

[[mounts]]
  source = 'data_vol'
  destination = '/data'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 256
